@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");

:root {
  --playerBoardSize: min(60dvh, 60dvw);
  --gameBackgroundColour: #1b1b1b;
  --outlineColour: #00ff00;
  --textColour: #00ff00;
  --scan-width: 2px;
  --scan-crt: true;
  --scan-fps: 60;
  --scan-color: rgba(0, 0, 0, 0.3);
  --scan-z-index: 2147483648;
  --scan-moving-line: true;
  --scan-opacity: 0.75;
}

body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--gameBackgroundColour);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  max-height: 100svh;
}

/* Nav Bar Styling */
.navBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  align-items: center;
  filter: blur(0.7px);
  z-index: 10;
}

.nav-logo {
  padding-left: 30px;
  flex: 1;
}

.nav-title-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  font-family: "Courier New", monospace;
}

.nav-title {
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.nav-menu-link {
  text-decoration: none;
  color: var(--textColour);
  padding: 30px;
  font-size: 20px;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

.nav-menu-link:hover {
  color: rgb(97, 129, 97);
}

/* Main App Styling */

.title-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: var(--gameBackgroundColour);
}

.battle-app {
  background: var(--gameBackgroundColour);
  background-size: cover;
  background-size: 100% 4px;
  display: none;
  grid-template: 1fr / 4fr 4fr;
  align-items: center;
  justify-items: center;
  height: 100svh;
  filter: blur(0.7px);
  overflow: hidden;
}

.playerBoard {
  width: clamp(300px, 50vw, 600px); 
  height: clamp(300px, 50vw, 600px);
  display: grid;
  grid-template: 10% 1fr / 10% 1fr;
  position: relative;
  margin-right: 10%;
}

.compBoard {
  width: clamp(300px, 50vw, 600px); 
  height: clamp(300px, 50vw, 600px);
  display: grid;
  grid-template: 10% 1fr / 10% 1fr;
  position: relative;
  margin-left: 10%;
}

.playerLogBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--gameBackgroundColour);
  border: 2px solid var(--outlineColour);
  border-radius: 4px;
  padding: 10px;
  width: 60%;
  height: 40%;
}

.logEntry {
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.playerLogTitle,
.computerLogTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.computerLogBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--gameBackgroundColour);
  border: 2px solid var(--outlineColour);
  border-radius: 4px;
  padding: 10px;
  width: 60%;
  height: 40%;
}

.compMoveBoxLog {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.playerMoveBoxLog {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.playerLog {
  margin: 5px;
}

.computerLog {
  margin: 5px;
}

.playerName,
.compName {
  position: absolute;
  justify-self: center;
  top: -80px;
  font-size: 2rem;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.rowMarkers {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.columnMarkers {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rowLabel,
.columnLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Courier New", monospace;
}

.rowLabel {
  height: 10%;
  width: 100%;
  color: var(--textColour);
}

.columnLabel {
  height: 100%;
  width: 10%;
  color: var(--textColour);
}

.playerGameSquares,
.compGameSquares {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: var(--gameBackgroundColour);
  position: relative;
}

.playerSquare,
.compSquare {
  border: 2px solid var(--outlineColour);
  display: flex;
  justify-content: center;
  align-items: center;
}

.compGameSquares {
  cursor:
    url(../images/gun-pointer.png) 16 16,
    auto;
}

.compSquare:hover {
  background-color: rgb(190, 3, 3);
}

.targetHit {
  position: absolute;
  height: 130%;
  width: 130%;
}

.targetMiss {
  height: 80%;
  width: 80%;
  opacity: 0.8;
}

.btnSwitch {
  padding: 10px;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--gameBackgroundColour);
  color: var(--textColour);
  border: 2px solid var(--outlineColour);
  font-family: "Courier New", monospace;
  transition: transform 0.1s ease;
  margin-bottom: 20px;
}

.btnSwitch:hover {
  border: 2px solid var(--outlineColour);
  color: var(--textColour);
  font-family: "Courier New", monospace;
  box-shadow: inset 0 0 8px;
}

/* Start Screen */

.gameName {
  font-size: 4rem;
  position: relative;
  top: -25%;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}
.newGameSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--gameBackgroundColour);
  background-size: cover;
  background-size: 100% 4px;
  height: 100svh;
  filter: blur(0.7px);
}

.playerNameForm {
  font-size: 2rem;
  gap: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerNameSelection {
  gap: 10vh;
}

.playerName,
.compName {
  font-size: 2rem;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.nameInput label,
.nameInput input {
  display: block;
  width: 100%;
  text-align: center;
}
.nameInput label {
  margin-bottom: 8px;
  font-size: 2rem;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}
.nameInput input {
  outline: none;
  border-radius: 10px;
  font-size: 3rem;
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--textColour);
  background-color: var(--gameBackgroundColour);
  border-color: var(--outlineColour);
}
.nameInput input:hover {
  box-shadow: inset 0 0 8px;
}
.nameInput input:focus {
  box-shadow: inset 0 0 0 4px;
}
.startGame,
.restartGame,
.helpBtn {
  padding: 20px 40px;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--gameBackgroundColour);
  color: var(--textColour);
  border: 2px solid var(--outlineColour);
  font-family: "Courier New", monospace;
  transition: transform 0.1s ease;
}

.startGame:hover,
.restartGame:hover,
.helpBtn:hover {
  border: 2px solid var(--outlineColour);
  color: var(--textColour);
  font-family: "Courier New", monospace;
  box-shadow: inset 0 0 8px;
}

.startGame:active,
.restartGame:active,
.helpBtn:active {
  transform: scale(0.8);
}

.alertBox {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 1001;
}

.alertTextBox {
  font-size: 4rem;
  color: var(--textColour);
  font-weight: 700;
  text-align: center;
  background-color: var(--gameBackgroundColour);
  border: 2px solid var(--outlineColour);
  margin: 2rem;
  padding: 2rem;
}

.shipPlacer {
  height: calc(var(--playerBoardSize) * 0.8);
  width: calc(var(--playerBoardSize) * 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 30%;
  margin: 10px;
}

.helpText {
  background-color: var(--gameBackgroundColour);
  padding: 10px;
  border: 2px solid var(--outlineColour);
  font-size: 3rem;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.validPlacement {
  background-color: rgba(0, 128, 0, 0.8);
}

.invalidPlacement {
  background-color: rgba(255, 0, 0, 0.8);
}

.hidden {
  display: none;
}

/* Darken Overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

.overlay.active {
  display: block;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--gameBackgroundColour);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.footer-text {
  color: var(--textColour);
  font-size: 15px;
  font-family: "Courier New", monospace;
  filter: blur(0.7px);
}

.github-img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  filter: invert(100%);
}

.github-img:hover {
  animation: spin 1s linear infinite;
  cursor: pointer;
  filter: invert(100%) sepia(1) saturate(10000%) hue-rotate(50deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Intro Screen Styling */
.introScreen {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 100svh;
  background-color: var(--gameBackgroundColour);
  color: var(--textColour);
  font-family: "Courier New", monospace;
  filter: blur(0.7px);
}

.introText {
  font-size: 2rem;
  margin: 40px;
}

.gameBtnText {
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--gameBackgroundColour);
  color: var(--textColour);
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
  margin-left: 40px;
}

.gameBtnText:hover {
  text-decoration: underline;
}

.caret {
  display: inline-block;
  width: 10px;
  height: 2rem;
  background-color: var(--textColour);
  margin-left: 5px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* scan-lines */

.scanlines {
  position: relative;
  font-family: "Courier New", monospace;
  width: 100svw;
  height: 100svh;
  background-color: var(--gameBackgroundColour);
}

.scanlines:before,
.scanlines:after {
  display: block;
  pointer-events: none;
  content: "";
  position: absolute;
}

.scanlines:before {
  width: 100%;
  height: var(--scan-width);
  z-index: calc(var(--scan-z-index));
  background: var(--scan-color);
  opacity: var(--scan-opacity);
  animation: scanline 6s linear infinite;
}

.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--scan-z-index);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--scan-color) 51%
  );
  background-size: 100% calc(var(--scan-width) * 2);
  animation: scanlines 1s steps(var(--scan-fps)) infinite;
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}

@media (max-width: 768px) {

  .scanlines {
    height:fit-content;
  }

  .introScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gameBackgroundColour);
    color: var(--textColour);
    font-family: "Courier New", monospace;
    filter: blur(0.7px);
  }

  .battle-app {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
    overflow-y: auto;
    overflow-x:hidden;
    scrollbar-width: none;
    padding-top: 60px;
  }

  .playerGameSquares,.compGameSquares {
    height: auto;
    width: auto;
  }

  .shipPlacer {
    gap: 34px;
    margin-top: 34px;
    flex-direction: row;
    margin-bottom: 200px;
    width: auto;
  }

  .helpText {
    font-size: 1.5rem;
  }

  .playerName, .compName {
    margin-top: 40px;
  }

  .playerBoard,
  .compBoard {
      width: clamp(200px, 80vw, 400px); /* Adjusted for smaller screens */
      height: clamp(200px, 80vw, 400px); /* Adjusted for smaller screens */
      margin: 0;
  }

  .playerLogBox {
    display: none;
  }

  .playerLogBox,
  .computerLogBox {
    width: auto;
    height: auto;
    margin-top: 50px;
  }

  .playerMoveLogBox,
  .compMoveLogBox {
    align-items: center;
  }

  .logEntry {
    font-size: 2svw;
  }

  .newGameSettings {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--gameBackgroundColour);
    background-size: cover;
    background-size: 100% 4px;
    filter: blur(0.7px);
    overflow-y: scroll;
    scrollbar-width: none;
  }

  .nameInput input {
    width: 90svw;
    font-size: 10svw;
  }

  .introScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100svh;
    background-color: var(--gameBackgroundColour);
    color: var(--textColour);
    font-family: "Courier New", monospace;
    filter: blur(0.7px);
  }

  .introText,
  .gameBtnText {
    text-align: center;
  }

  .gameBtn {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 0;
  }

  .gameName {
    display: flex;
    top: 0%;
    margin-bottom: 4dvh;
    position: relative;
    font-size: 12svw;
    color: var(--textColour);
    font-family: "Courier New", monospace;
  }

  .helpText {
    font-size: 4svw;
  }

  .startGame,
  .restartGame,
  .helpBtn {
    padding: 10px 20px;
    font-size: 5svw;
    cursor: pointer;
    background-color: var(--gameBackgroundColour);
    color: var(--textColour);
    border: 2px solid var(--outlineColour);
    font-family: "Courier New", monospace;
    transition: transform 0.1s ease;
  }

  .restartGame {
    margin-left: 15px;
  }

  .startGame:hover,
  .restartGame:hover,
  .helpBtn:hover {
    border: 2px solid var(--outlineColour);
    color: var(--textColour);
    font-family: "Courier New", monospace;
    box-shadow: inset 0 0 8px;
  }

  .startGame:active,
  .restartGame:active,
  .helpBtn:active,
  .gameBtn:active {
    transform: scale(0.8);
  }

  .alertBox {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1001;
  }

  .alertTextBox {
    font-size: 5svw;
    margin: 0;
    padding: 3svw;
  }

  .navBar {
    height: 60px;
    z-index: 100000;
    position: relative;
    margin-bottom: auto;
  }

  .nav-menu-box {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #333;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1000;
  }

  .nav-title {
    font-size: 5svw;
  }

  .nav-menu-box.show {
    display: flex;
  }

  .nav-logo {
    display: flex;
    flex: 0;
  }

  .hamburger {
    display: flex;
    margin-right: 15px;
    color: var(--textColour);
  }

  .btnSwitch {
    font-size: 5svw;
    margin-bottom: 200px;
  }
  
  .footer {
    margin-top: auto;
  }

}
