@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&display=swap");

:root {
  --playerBoardSize: min(60vh, 60vw);
  --gameBackgroundColour: #1b1b1b;
  --outlineColour: #00ff00;
  --textColour:#00ff00;
  --scan-width: 2px;
  --scan-crt: true;
  --scan-fps: 60;
  --scan-color: rgba(0, 0, 0, 0.3);
  --scan-z-index: 2147483648;
  --scan-moving-line: true;
  --scan-opacity: 0.75;
}

body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--gameBackgroundColour);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Nav Bar Styling */
.navBar {
  position: absolute; /* Overlay the navBar on top of the battle-app */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(0,0,0,0);
  align-items: center;
  filter: blur(.7px);
  z-index: 10;
}

.nav-logo {
  padding-left: 30px;
  flex: 1;
}

.nav-title-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-menu-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;
  font-family: "Courier New", monospace;
}

.nav-title {
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.nav-menu-link {
  text-decoration: none;
  color: var(--textColour); 
  padding: 30px;
  font-size: 20px;
}

.nav-menu-link:hover {
  color: rgb(97, 129, 97);
}

/* Main App Styling */

.title-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
  justify-items: center;
  background: var(--gameBackgroundColour);
}

.battle-app {
  background: var(--gameBackgroundColour);
  background-size: cover;
  background-size: 100% 4px;
  display: none;
  grid-template: 1fr / 4fr 4fr;
  align-items: center;
  justify-items: center;
  height: 100vh;
  filter: blur(.7px);
}

.playerBoard {
  height: var(--playerBoardSize);
  width: var(--playerBoardSize);
  display: grid;
  grid-template: 10% 1fr / 10% 1fr;
  position: relative;
  margin-right: 10%;
}

.compBoard {
  height: var(--playerBoardSize);
  width: var(--playerBoardSize);
  display: grid;
  grid-template: 10% 1fr / 10% 1fr;
  position: relative;
  margin-left: 10%;
}

.playerLogBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--gameBackgroundColour);
  border: 2px solid var(--outlineColour);
  border-radius: 4px;
  padding: 10px;
  width: 60%;
  height: 40%;
}

.logEntry {
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.playerLogTitle,
.computerLogTitle {
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.computerLogBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--gameBackgroundColour);
  border: 2px solid var(--outlineColour);
  border-radius: 4px;
  padding: 10px;
  width: 60%;
  height: 40%;
}

.compMoveBoxLog {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.playerMoveBoxLog {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

.playerLog {
  margin: 5px;
}

.computerLog {
  margin: 5px;
}

.playerName,
.compName {
  position: absolute;
  justify-self: center;
  top: -80px;
  font-size: 2rem;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.rowMarkers {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.columnMarkers {
  grid-area: 1/2/2/3;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.rowLabel,
.columnLabel {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Courier New", monospace;
}

.rowLabel {
  height: 10%;
  width: 100%;
  color: var(--textColour)
}

.columnLabel {
  height: 100%;
  width: 10%;
  color: var(--textColour)
}

.playerGameSquares,
.compGameSquares {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: var(--gameBackgroundColour);
  position: relative;
}

.playerSquare,
.compSquare {
  border: 2px solid var(--outlineColour);
  display: flex;
  justify-content: center;
  align-items: center;
}

.compGameSquares {
  cursor:
    url(../images/gun-pointer.png) 16 16,
    auto;
    filter: invert(100%) sepia(1) saturate(10000%) hue-rotate(50deg);
}

.compSquare:hover {
  background-color: rgb(190, 3, 3);
  
}

.targetHit {
  position: absolute;
  height: 130%;
  width: 130%;
}

.targetMiss {
  height: 80%;
  width: 80%;
  opacity: 0.8;
}



/* Start Screen */

.gameName {
  font-size: 4rem;
  position: relative;
  top: -25%;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}
.newGameSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:var(--gameBackgroundColour);
  background-size: cover;
  background-size: 100% 4px;
  height: 100vh;
  filter: blur(.7px);
}

.playerNameForm {
  font-size: 2rem;
  gap: 29px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playerNameSelection {
  gap: 10vh;
}

.playerName,
.compName {
  font-size: 2rem;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.nameInput label,
.nameInput input {
  display: block;
  width: 100%;
  text-align: center;
}
.nameInput label {
  margin-bottom: 8px;
  font-size: 2rem;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}
.nameInput input {
  outline: none;
  border-radius: 10px;
  font-size: 3rem;
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--textColour);
  background-color: var(--gameBackgroundColour);
  border-color: var(--outlineColour);
}
.nameInput input:hover {
  box-shadow: inset 0 0 8px;
}
.nameInput input:focus {
  box-shadow: inset 0 0 0 4px;
}
.startGame,
.restartGame,
.helpBtn {
  padding: 20px 40px;
  font-size: 2rem;
  cursor: pointer;
  background-color: var(--gameBackgroundColour);
  color: var(--textColour);
  border: 2px solid var(--outlineColour);
  font-family: "Courier New", monospace;
  transition: transform 0.1s ease;
}

.startGame:hover,
.restartGame:hover,
.helpBtn:hover {
  border: 2px solid var(--outlineColour);
  color: var(--textColour);
  font-family: "Courier New", monospace;
  box-shadow: inset 0 0 8px;
}

.startGame:active,
.restartGame:active,
.helpBtn:active {
  transform: scale(0.8);
}

.alertBox {
  position: Fixed;
  z-index: 1000000000;
  width: 100vw;
  height: 100vh;
  border-color: 2px solid var(--outlineColour);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15vh;
}

.alertTextBox {
  font-size: 4rem;
  color: var(--textColour);
  font-weight: 700;
  text-align: center;
  background-color: var(--gameBackgroundColour);
  border: 2px solid var(--outlineColour);
  margin: 2rem;
  padding: 2rem;
}

.shipPlacer {
  height: calc(var(--playerBoardSize) * 0.8);
  width: calc(var(--playerBoardSize) * 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 30%;
  margin: 10px;
}

.helpText {
  background-color: var(--gameBackgroundColour);
  padding: 10px;
  border: 2px solid var(--outlineColour);
  font-size: 3rem;
  color: var(--textColour);
  font-family: "Courier New", monospace;
}

.validPlacement {
  background-color: rgba(0, 128, 0, 0.8);
}

.invalidPlacement {
  background-color: rgba(255, 0, 0, 0.8);
}

.hidden {
  display: none;
}

/* Footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(29, 29, 29, 0);
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.footer-text {
  color: var(--textColour);
  font-size: 15px;
  font-family: "Courier New", monospace;
  filter: blur(.7px);
}

.github-img {
  height: 30px;
  width: 30px;
  margin-left: 10px;
  filter: invert(100%);
}

.github-img:hover {
  animation: spin 1s linear infinite;
  cursor: pointer;
  filter: invert(100%) sepia(1) saturate(10000%) hue-rotate(50deg);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* scan-lines */

.scanlines {
  position: relative;
  overflow: hidden;
  font-family: "Courier New", monospace;
  width: 100vw; 
  height: 100vh;
  background-color: var(--gameBackgroundColour);
}

.scanlines:before,
.scanlines:after {
  display: block;
  pointer-events: none;
  content: '';
  position: absolute;
}

.scanlines:before {
  width: 100%;
  height: var(--scan-width);
  z-index: calc(var(--scan-z-index));
  background: var(--scan-color);
  opacity: var(--scan-opacity);
  animation: scanline 6s linear infinite;
}

.scanlines:after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--scan-z-index);
  background: linear-gradient(
    to bottom,
    transparent 50%,
    var(--scan-color) 51%
  );
  background-size: 100% calc(var(--scan-width) * 2);
  animation: scanlines 1s steps(var(--scan-fps)) infinite;
}

@keyframes scanline {
  0% {
    transform: translate3d(0, 200000%, 0);
  }
}

@keyframes scanlines {
  0% {
    background-position: 0 50%;
  }
}
